body{
    background:url('./imgs/road-bg.jpg');
    background-repeat:no-repeat;
    background-size: auto;
    overflow:hidden;
}
.road{
    display: flex;
    margin-left:-100px;
    margin-top:430px;
    flex-direction: column;
    overflow:hidden;
}