body{
    background:url('./imgs/road-bg.jpg');
    background-repeat:no-repeat;
    background-size: auto;
    overflow:hidden;
}
.road{
    display: flex;
    margin-top:450px;
    flex-direction: column;
    overflow:hidden;
}
/* .r-c{
width:220px;
height:auto;
}
.bus{
margin-top:-120px;
margin-left:280px;
} */